.comp_intr_div{
	width:1200px;height:167px;margin:0 auto;padding:1px;
}
.comp_intr_div .title_h3,
.batch_intr_div .title_h3{
	color: #333;font-size: 35px;font-weight: bold;height: 40px;line-height: 40px;margin-left: 15px;
}
.comp_intr_div .content_p{
	margin: 25px 0 0;
	line-height: 28px;
	color: #666;
	font-size: 14px;
}

.honor_div{
	width:1200px;
	height: 800px;
	margin: 20px auto;
	padding: 1px;
}
.zs_list_div{
	width:890px;
	height: 345px;
	float:right;
}
.zs_list_div .item_div{
	width:265px;
	height:340px;
	line-height:340px;
	text-align:center;
	background-color:#F2F2F2;
	border:#0F6FC6 solid 2px;
}
.zs_list_div .item2_div{
	margin-top:-344px;
	margin-left:310px;
}
.zs_list_div .item3_div{
	margin-top:-344px;
	margin-left:620px;
}
.zs_list_div .item_div img{
	margin-top:15px;
}

.honor_div .jb1_img{
	width: 285px;
	margin-top: 265px;
}
.honor_div .jb2_img{
	margin-top: -356px;
	margin-left: -67px;
}

.sb_list_div{
	width:560px;
	height: 120px;
	margin-top:-200px;
	/*
	background:#0f0;
	*/
	float:right;
}
.sb_list_div .item_div{
	width:160px;
	height: 120px;
	/*
	background:#00f;
	*/
	text-align:center;
}
.sb_list_div .item2_div{
	margin-top:-120px;
	margin-left:180px;
}
.sb_list_div .item3_div{
	margin-top:-120px;
	margin-left:357px;
}
.sb_list_div .item_div img{
	margin-top:10px;
}
.sb_list_div .item_div .text_div{
	width:70%;
	margin:10px auto;
	color:#808080;
}

.batch_intr_div{
	width:1200px;
	margin: 20px auto;
	padding: 1px;
}
.batch_intr_div .area1_div .content_div{
	width:440px;
	height: 540px;
}
.batch_intr_div .area1_div .content_div p{
	line-height:26px;
	text-indent: 2em;
	font-size: 20px;
}
.batch_intr_div .area1_div img{
	margin-top:-540px;
	float:right;
}
.batch_intr_div .area2_div .rect1_div{
	width:163px;
	height: 210px;
	border:#000 solid 2px;
}
.batch_intr_div .area2_div .text_span{
	font-weight:bold;
	position:absolute;
}
.batch_intr_div .area2_div .rect1_div .zjpjy_border_div{
	width:132px;
	height:34px;
	margin-left:18px;
	border:#000 solid 1px;
	position:absolute;
}
.batch_intr_div .area2_div .rect1_div .zjpjy_span{
	margin-top:8px;
	margin-left:20px;
}
.batch_intr_div .area2_div .rect2_div{
	width:860px;
	height: 210px;
	margin-top:-214px;
	margin-left:200px;
	border:#000 solid 2px;
}
.batch_intr_div .area2_div .rect2_div .scdd_border_div{
	width:113px;
	height:35px;
	margin-top:5px;
	margin-left:18px;
	border:#000 solid 1px;
	position:absolute;
	z-index: 1;
}
.batch_intr_div .area2_div .rect2_div .scdd_span{
	margin-top:8px;
	margin-left:23px;
}
.batch_intr_div .area2_div .rect2_div .scdd_img{
	margin-top:5px;
	margin-left:20px;
	position: absolute;
}
.batch_intr_div .area2_div .rect2_div .ott_img{
	margin-top:20px;
	margin-left:136px;
	position:absolute;
}
.batch_intr_div .area2_div .rect2_div .jhpc_border_div{
	width:115px;
	height:34px;
	margin-top:7px;
	margin-left:275px;
	border:#000 solid 1px;
	position:absolute;
	z-index: 1;
}
.batch_intr_div .area2_div .rect2_div .jhpc_img{
	margin-top:7px;
	margin-left:277px;
	position: absolute;
}
.batch_intr_div .area2_div .rect2_div .utd_img{
	margin-top: 53px;
	margin-left: -25px;
}
.batch_intr_div .area2_div .rect2_div .pcfx_border_div{
	width:115px;
	height:34px;
	margin-top:-110px;
	margin-left:480px;
	border:#000 solid 1px;
	position:absolute;
	z-index: 1;
}
.batch_intr_div .area2_div .rect2_div .pcfx_span{
	margin-top:8px;
	margin-left:23px;
}
.batch_intr_div .area2_div .rect2_div .pcfx_img{
	margin-top: 131px;
	margin-left: 141px;
	position: absolute;
}
.batch_intr_div .area2_div .rect2_div .etn_img{
	margin-top:144px;
	margin-left:255px;
	position:absolute;
}
.batch_intr_div .area2_div .rect2_div .sctj_border_div{
	width:115px;
	height:34px;
	margin-top:-110px;
	margin-left:693px;
	border:#000 solid 1px;
	position:absolute;
	z-index: 1;
}
.batch_intr_div .area2_div .rect2_div .sctj_span{
	margin-top:8px;
	margin-left:23px;
}
.batch_intr_div .area2_div .rect2_div .sctj_img{
	margin-top: 131px;
	margin-left: 354px;
	position: absolute;
}
.batch_intr_div .area2_div .rect3_div{
	width:163px;
	height: 343px;
	margin-top: 15px;
	border:#000 solid 2px;
}
.batch_intr_div .area2_div .rect3_div .cjwljs_border_div{
	width:168px;
	height:34px;
	margin-top: 15px;
	margin-left:98px;
	border:#000 solid 1px;
	position:absolute;
	z-index: 1;
}
.batch_intr_div .area2_div .rect3_div .cjwljs_span{
	margin-top:8px;
	margin-left:20px;
}
.batch_intr_div .area2_div .rect3_div .ylck_img{
	margin-top:101px;
}
.batch_intr_div .area2_div .rect3_div .ylck_span{
	margin-left: 52px;
	position:absolute;
}
.batch_intr_div .area2_div .rect3_div .ttft_img{
	margin-top: -303px;
	margin-left: 98px;
	position: absolute;
}
.batch_intr_div .area2_div .rect4_div{
	width:650px;
	height: 343px;
	margin-top: -347px;
	margin-left: 200px;
	border:#000 solid 2px;
}
.batch_intr_div .area2_div .rect4_div .wljl_border_div{
	width:113px;
	height:34px;
	margin-top: 68px;
	margin-left:64px;
	border:#000 solid 1px;
	position:absolute;
	z-index: 1;
}
.batch_intr_div .area2_div .rect4_div .wljl_span{
	margin-top:8px;
	margin-left:20px;
}
.batch_intr_div .area2_div .rect4_div .pckz_border_div{
	width:117px;
	height:34px;
	margin-top: 68px;
	margin-left:278px;
	border:#000 solid 1px;
	position:absolute;
	z-index: 1;
}
.batch_intr_div .area2_div .rect4_div .pckz_span{
	margin-top:8px;
	margin-left:20px;
}
.batch_intr_div .area2_div .rect4_div .bzx_border_div{
	width:105px;
	height:34px;
	margin-top: 68px;
	margin-left:482px;
	border:#000 solid 1px;
	position:absolute;
	z-index: 1;
}
.batch_intr_div .area2_div .rect4_div .bzx_span{
	margin-top:8px;
	margin-left:20px;
}
.batch_intr_div .area2_div .rect4_div img{
	margin-top: 128px;
	margin-left:-50px;
}
.batch_intr_div .area2_div .rect4_div .czmo_span{
	margin-left: 70px;
	position:absolute;
}
.batch_intr_div .area2_div .rect4_div .scsb_span{
	margin-left: 303px;
	position:absolute;
}
.batch_intr_div .area2_div .rect5_div{
	width:175px;
	height: 343px;
	margin-top: -347px;
	margin-left: 885px;
	border:#000 solid 2px;
}
.batch_intr_div .area2_div .right_img{
	margin-top: -563px;
	margin-left: 1090px;
	position: absolute;
}